* {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    text-align: center;
    width: 980px;
    margin: 0 auto;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    color: #1c81c0;
}

.principal {
    background-color: #afddfb;
}

.principal p {
    margin-top: 15px;
    margin-bottom: 25px;
}

.principal p a {
    font-size: 18px;
    color: #1d1d1d;
    text-decoration: underline;
    margin: 0 10px;
}

.servicos {
    background-color: #1d80c1;
}

.servicos span {
    color: #fff81b;
}

.servicos h2 {
    color: #ffffff;
    font-size: 28px;
    height: 42px;
}

.servicos p {
    font-size: 22px;
    height: 42px;
    color: #ffffff;
    width: 700px;
    margin: 100px auto 20px;
}

.servicos ul {
    width: 135px;
    text-align: center;
    margin: 50px auto 0;
}

.servicos ul li {
    color: #ffffff;
    height: 30px;
    text-align: left;
    font-size: 22px;
    margin-top: 10px;
}

.imobiliaria {
    margin-top: 50px;
}

.corretores h2 {
    color: #1c81c0;
}

.corretores img {
    width: 450px;
}

.imovel img {
    width: 450px;
}

.contato {
    background-color: #1d80c1;
}

.contato h2 {
    color: #ffffff;
    font-size: 28px;
    height: 42px;
}

.contato p {
    margin-top: 20px;
    background-color: #1d1d1d;
    color: white;
    padding: 15px;
}

.contato span {
    color: #fff81b;
}
.lista-contato {
    width: 210px;
    list-style: none;
    margin: 40px auto 40px;
}

.item-lista-contato {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.link-contato {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}